:root {
  font-family: 'Source Sans Pro', sans-serif;
}

/**********
 * Navbar *
 **********/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  padding: .5em 2em;
  background: rgba(255, 255, 255, 0.687);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 40px;
  line-height: 0;
}

a {
  color: black;
  text-decoration: none;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo-icon img {
  width: 50px;
}

.navbar-logo-site-name {
  margin-left: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}

/* Reset default style */
ul,
ul li,
ul ul li {
  display: flex;
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
} /* end reset */

ul li {
  border: 1px solid transparent; 
  padding: 1em .80em;
}

.navbar-menu li:last-child,
.navbar-account-menu li:last-child {
  border: 1px solid gray;
  border-radius: 50px;
}

.navbar-menu li:last-child {
  box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.16);
}

.navbar-account-menu li:last-child {
  background: black;
}

.navbar-account-menu li:last-child a {
  color: white;
}

.navbar-hamburger {
  position: fixed;
  display: none;
}

@media (max-width: 850px) {
  .navbar-account-menu {
    display: none;
  }

  .navbar-hamburger {
    display: block;
    position: static;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 700px) {
  .navbar-menu {
    display: none;
  }
}

/**********
 * Search *
 **********/

 .search {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .search-image {
   width: 600px;
   height: 250px;
   border-radius: 125px;
   background: white;
   box-shadow: 7px 4px 20px 0px #2398A5;
   margin-top: 150px;
   margin-bottom: 60px;
 }

 .search-bar {
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.16);
  padding: 10px;
 }

 .search-bar form {
  display: flex;
  justify-content: center;
 }

 .search-bar-field {
  display: flex;
 }

 .search-bar-field-region {
  border: 1px solid gray;
  padding: 0 .5em;
  margin-left: 5px;
 }

 .search-bar-field input {
  border: none;
 }

 .search-bar-field,
 #search-button {
  border: 1px solid gray;
  border-radius: 50px;
  /* padding: 7px 20px; */
  padding: .4em 1.15em;
 }

#search-button {
  margin-left: 12px;
  box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.16);
 }

 #search-button:focus {
  outline: none;
  box-shadow: inset 1px 2px 7px 0px rgba(0, 0, 0, 0.16);
}

input[type=text] {
  border-bottom: 1px solid transparent;
}

input[type=text]:focus {
  outline: none;
  border-bottom: 1px solid gray;
}

@media (max-width: 480px) {
  .search-image {
    width: 390px;
    height: 162.5px;
  }
}

@media (min-width: 481px) and (max-width: 650px) {
  .search-image {
    width: 468px;
    height: 195px;
  }
}

/*****************
 * Search Result *
 *****************/

.search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px; /*for debug*/
  margin-top: 40px;
  background: #F5F5F5;
}

.summoner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 80%;
  max-width: 768px;
  border-bottom: 1px solid #a7a7a7;
  box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.16);
}

.summoner-playing {
  position: absolute;
  right: 0;
  background: #46898A;
  padding: 5px 10px;
  color: white;
  font-size: 1.25em;
}

.summoner-icon {
  
}

.summoner-icon img {
  border-radius: 50%;
  width: 75px;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

.summoner-name {
 font-size: 2em;
 font-weight: bold;
 text-shadow:
    -0.5px -0.5px 0 #D8A33A,
    0.5px -0.5px 0 #D8A33A,
    -0.5px 0.5px 0 #D8A33A,
    0.5px 0.5px 0 #D8A33A;
}

.summoner-update-time {
  font-size: .75em;
}

.rank {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.37em;
}

.rank img {
  width: 190px;
  filter: drop-shadow(20px 45px 2px rgba(0, 0, 0, 0.221));
}

.rank-stats {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background: white;
  padding: 1em .7em;
  border-radius: 7px;
}

.rank-stats-resume{
  font-weight: bold;
  text-shadow:
    -0.5px -0.5px 0 black,
    0.5px -0.5px 0 black,
    -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black;
}

.rank-stats-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-left: 150px;
  border: 1px solid #707070;
  border-radius: 50%;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.22);
  font-size: 1.3em;
}

@media (max-width: 520px) {
  .summoner-playing {
    padding: 3px 7px;
    font-size: 1em;
  }
}

/**********
 * Footer *
 **********/
 
 .copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background: white;
  text-align: center;
  font-size: 0.70em;
 }